* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
  background-color: #f5f5f5;
}

body {
  /* Font chữ */
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.header {
  min-width: 700px;
  height: 92px;
  background: #fffcf4;
}

.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}

.btn {
  min-width: 118px;
  display: inline-block;
  text-align: center;
  padding: 16px;
  border-radius: 999px;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: black;
  color: white;
}

.header .logo {
  border: 3px solid rgb(255, 208, 0);
}

.header .btn_sign_up {
  margin-left: 49px;
  min-width: 144px;
}

.btn:hover {
  opacity: 0.9;
}

.main_content {
  width: 1170px;
  height: 50px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.header .body {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  width: 400px;
  height: 28px;
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  display: inline-block;
  position: relative;
  color: #5f5b53;
  padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
  text-shadow: 1px 0 0 black;
}

.nav li.active a::after {
  position: absolute;
  left: 21px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: black;
}

.hero {
  display: block;
}

.hero .body {
  display: flex;
  padding: 56px 135px;
  background-color: #fffcf4;
}

.hero .body-review {
  display: block;
  background-color: transparent;
  justify-content: center;
}

.hero .body-review .top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

.hero .body-review .bottom-content {
  display: flex;
  justify-content: space-between;
}

.hero .body-review .box-review {
  display: block;
  width: 370px;
  height: 466px;
  border: 1px solid #e2dfda;
  border-radius: 12px;
}

.hero .main_content_hero {
  width: 1440px;
}

.hero .main_content_hero1 {
  margin-top: 1092px;
  width: 1440px;
}

.body-review .main-review {
  margin: 16px 22px 22px 22px;
  width: 326px;
  height: 150px;
}

/* ================= hero left ================= */
.hero .media_block {
  position: relative;
  width: 48%;
}

.hero .media_block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero_summary {
  padding: 24px;
  width: 270px;
  height: 244px;
  position: absolute;
  align-content: space-between;
  right: 0;
  bottom: 48px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .hero_summary .item {
  display: flex;
  align-items: center;
}

.hero .hero_summary .item + .item {
  margin-top: 22px;
}

.hero_summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}

.hero_summary .icon2 {
  background-color: #fcefff;
}

.hero_summary .icon3 {
  background-color: #ebeaff;
}

.hero_summary .info {
  margin-left: 16px;
}

.hero_summary .lable {
  font-size: 1.6rem;
  line-height: 1.86rem;
  color: #5f5b53;
}

.hero_summary .title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #171100;
}

/* ============= hero right ============= */

.hero .content_block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  line-height: 6.8rem;
  font-weight: 700;
}

.hero .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 3rem;
}

.hero .cta-group {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.hero-cta {
  width: 180px;
  min-width: 80px;
  line-height: 32px;
  background-color: var(--primary-color);
}

.hero .watch-video {
  margin-left: 28px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.hero .watch-video span {
  margin-left: 14px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
}

.hero .watch-video .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .last-ct {
  margin-top: 48px;
}

.hero .last-ct strong {
  padding-right: 14px;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 5.4rem;
  color: #171100;
}

.hero .last-ct strong:nth-child(2) {
  margin-left: 28px;
}

.hero .desc1 {
  padding-top: 0px;
}

.hero .desc2 {
  padding-top: 8px;
}

/* ===================== Hero 1 tab ==================== */
.hero .body-review .content-tab {
  width: 458px;
  height: 124px;
}

.hero .body-review .tab .but {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  border: none;
}

.hero .body-review .tab .but strong {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .body-review .tab .but:first-child {
  border: 1px solid #ffb900;
  background-color: #ffffff;
  margin-right: 18px;
}

.hero .body-review .tab .but:last-child {
  background-color: #ffb900;
}

.hero .body-review .content-tab .heading {
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 4.8rem;
}

.hero .body-review .content-tab .desc {
  display: inline-block;
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
}

/* ================== review ==================== */

.hero .box-review .ct-star-rv p {
  width: 48px;
  height: 28px;
  color: #fea31b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .box-review .ct-star-rv p strong {
  margin-left: 6px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.hero .box-review .ct-star-rv {
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .box-review .ct-star-rv .heading {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
}

.hero .box-review .main-review .desc {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.6rem;
}

.hero .box-review .money-buy {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .box-review .money-buy .heading {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
}

.box-review .money-buy .btn-buy strong {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-review .money-buy .btn-buy {
  width: 118px;
  height: 50px;
}

.box-review .money-buy .btn-buy1 {
  background-color: #ffb900;
}

.hero .body-review .box-review:first-child {
  border: none;
  background-color: #ffffff;
}
